extends layout

block content
  div.container
    div.row
      .col-lg-6
        h1 Log into your account
        form(method='post' action='')
        .form-group
          label(for='Email') Email Address
          input.form-control(type='Text', name='Email', placeholder="Email Address")
        .form-group
          label(for='Password') Password
          input.form-control(type='Password', name='Password', placeholder="*********")
        .form-group
            button.btn.btn-primary(type='button') Login
      .col-lg-6
        h1 Create Free Account
        form(method='post' action='')
          .form-group
            label(for='my-input') Email Address
            input.form-control(type='Text', name='Email', placeholder="Email Address")
          .form-group
            label(for='Password') Password
            input.form-control(type='Password', name='Password', placeholder="*********")
          .form-group
            label(for='PasswordAgain') Password Again
            input.form-control(type='Password', name='PasswordAgain', placeholder="*********")
          .form-group
            button.btn.btn-primary(type='button') Create Account
              
            

